<!doctype html>
<html lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<!--boxed layout-->
		this is text of layout
		<div class="wide_layout relative w_xs_auto">
			<%= yield %>
		</div>

	</body>
</html>